spring:
  application:
    name: eureka-service
server:
  port: 8761
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: eureka-service.com
